.atoresSection {
  background: #203A8A;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.atoresSection h2 {
  color: #203A8A;
  font-weight: bold;
}

.tableWrapper {
  background: #E8E9F3;
  color: #000;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #000000a0;
  overflow: hidden;
  padding: 12px 24px;
  border-radius: 12px;
  height: 80%;
  width: 80%;
  gap: 12px;
}

.filtersCard {
  display: flex;
  flex-direction: column;
}

.filtersCard .options {
  display: flex;
  gap: 12px;
}

.filtersCard .buttons button {
  display: flex;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
  width: fit-content;
  color: #203A8A;
  background: #fff;
}

.atoresSection .filtersCard select {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.atoresSection .buttons {
  justify-content: space-evenly;
  display: flex;
  margin-top: 24px;
}

.atoresSection .filtersCard input,
.atoresSection select {
  border: none;
  background: #DCE1F0;
  padding: 12px 24px;
  border-radius: 12px;
}

.atoresSection button {
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
  width: fit-content;
  background: #203A8A;
  color: #fff;
}

.tableWrapper button:hover {
  filter: brightness(90%);
}

.tableWrapper form a {
  color: #A3A3A3;
}

.tableWrapper form a:hover {
  color: #203A8A;
}

.tableWrapper form input:focus,
.tableWrapper select {
  outline: none;
  background: rgb(200, 225, 240);
}

.tableWrapper table {
  font-size: 12px;
}

.actionsCell {
  display: flex;
  gap: 4px;
}

.actionsCell button:nth-child(2) {
  background: #ff4040;
}

.actionsCell button {
  padding: 4px 8px;
  border-radius: 4px;
}

.tableHeader input {
  border: none;
  background: #DCE1F0;
  padding: 6px 12px;
  border-radius: 6px;
}

.tableHeader input:focus {
  outline: none;
  background: rgb(200, 225, 240);
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}
